<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs'); -%>

  <body>
    <%- include('partials/header.ejs'); -%>

    <h1>4. Random code generator App :</h1>

  
    
    <ul>
      <li>1: <%= data[0].joke%> K</li>
      <li>2: <%= data[1].joke%> K</li>
      <li>3: <%= data[2].joke%> K</li>
    
    </ul>

    <%- include('partials/footer.ejs'); -%>
  </body>
</html>
